/* ==UserStyle==
@name            MU__iconFixes.user
@namespace       https://github.com/Reibies
@author          Reibies
@updateURL       https://raw.githubusercontent.com/Reibies/WEB_Userscripts/master/mangaupdates/MU__iconFixes.user.css
@version         1.0
@description     Replaces various text and icon elements to customizable bootstrap ones.
==/UserStyle== */
@-moz-document domain("www.mangaupdates.com") {
    /* -- Hide & Minimize */
    img[src*="increase"],
    img[src*="decrease"],
    img[src*="Ftype"] {
        display: none;
    }
    img[src*="down.gif"],
    img[src*="up.gif"],
    img[src*="carrot"] {
        opacity: 0;
        height: 11px;
        width: 15px;
    }
    a:is([href*="/edit-"], [href*="/-edit/"], [href*="Rm9yIEl"], [href*="Rm9yIHNl"], [href*="Rm9yIGF1"], [href*="Rm9yIGd"]) u,
    a[href="/lists/edit-lists"] b u {
        font-size: 0;
    }
    /* -- Base Style */
    div:has(> :is(a, img)[src*="Ftype"])::before,
    b:has(+ :is(img[src*="increase"], img[src*="decrease"]))::after,
    div:has(> a > img[src*="up.gif"])::after,
    b:has(+ a img[src*="carrot"])::after,
    a:is([href*="/edit-"], [href*="/-edit/"], [href*="Rm9yIEl"], [href*="Rm9yIHNl"], [href*="Rm9yIGF1"], [href*="Rm9yIGd"], [href="/lists/edit-lists"], [title="Remove from reading list"])::after,
    div.user-info_login_box_padding__hebxc a[href="#"]::after,
    a[title^="Raise Priority"]::before,
    a[title^="Lower Priority"]::before {
        font-family: "bootstrap-icons";
        font-weight: bold;
    }
    b:has(+ :is(img[src*="increase"], img[src*="decrease"]))::after,
    div:has(> a > img[src*="up.gif"])::after,
    b:has(+ a img[src*="carrot"])::after {
        font-size: 1.3rem;
        vertical-align: bottom;
        text-shadow: 0 0 1px #000, 0 0 1px #000, 0 0 1px #000, 0 0 2px #000;
        pointer-events: none;
    }
    div:has(> :is(a, img)[src*="Ftype"])::before {
        font-size: 1.5rem;
    }
    a:is([href*="/edit-"], [href*="/-edit/"], [href*="Rm9yIEl"], [href*="Rm9yIHNl"], [href*="Rm9yIGF1"], [href*="Rm9yIGd"], [href="/lists/edit-lists"], [title="Remove from reading list"])::after,
    div.user-info_login_box_padding__hebxc a[href="#"]::after {
        font-size: 1rem;
        vertical-align: text-bottom;
        margin: 4px;
        transition: var(--transition-fast);
        color: var(--mu-text-color-faded);
    }
    a[title^="Raise Priority"]::before,
    a[title^="Lower Priority"]::before {
        font-size: 1.2rem;
        position: absolute;
        line-height: 0.9rem;
    }
    /* -- Color & Icons*/
    div:has(> :is(a, img)[src*="Ftype0"])::before {
        content: "\F43C";
    }
    div:has(> :is(a, img)[src*="Ftype2"])::before {
        content: "\F272";
        color: var(--bs-green);
    }
    div:has(> :is(a, img)[src*="Ftype3"])::before {
        content: "\F17F";
    }
    div:has(> :is(a, img)[src*="Ftype4"])::before {
        content: "\F597";
    }
    div:has(> :is(a, img)[src*="Ftype1"])::before {
        content: "\F63C";
        text-shadow: 0 0 1px #000, 0 0 2px #000;
        color: var(--bs-yellow);
    }
    b:has(+ img[src*="increase"])::after,
    b:has(+ a img[src*="carrot_up.gif"])::after {
        content: "\F235";
        color: var(--mu-background-color-good);
    }
    b:has(+ img[src*="decrease"])::after,
    b:has(+ a img[src*="carrot_down.gif"])::after {
        content: "\F229";
    }
    a[href*="Rm9yIEl"]::after {
        content: "\F3CC";
    }
    a:is([href*="/edit-"], [href*="/-edit/"])::after,
    span.releasestitle~span.text a[href*="Rm9yIEl"]::after {
        content: "\F4CB";
    }
    a:is([href*="Rm9yIHNl"], [href*="Rm9yIGF1"], [href*="Rm9yIGd"])::after {
        content: "\F4C9";
    }
    a[href="/lists/edit-lists"]::after {
        content: "\F3E5";
    }
    a[title="Raise Priority by 5"]::before {
        content: "\F236";
    }
    a[title="Raise Priority"]::before {
        content: "\F235";
    }
    a[title="Lower Priority"]::before {
        content: "\F229";
    }
    a[title="Lower Priority by 5"]::before {
        content: "\F22A";
    }
    a[title="Remove from reading list"]::after {
        content: "\F627";
    }
    div.user-info_login_box_padding__hebxc a[href="#"]::after {
        content: "\F7EE";
    }
    a[title^="Raise Priority"]::before {
        color: var(--mu-background-color-good);
    }
    b:has(+ img[src*="decrease"])::after,
    b:has(+ a img[src*="carrot_down.gif"])::after,
    a[title^="Lower Priority"]::before,
    a[title="Remove from reading list"]::after {
        color: var(--mu-background-color-warning);
    }
    /* -- Element Specific */
    div:has(> a > img[src*="up.gif"])::after,
    b:has(+ a img[src*="carrot"])::after {
        position: absolute;
        line-height: 2rem;
        color: var(--mu-text-color-highlight) !important;
    }
    b:has(+ :is(img[src*="increase"], img[src*="decrease"]))::after {
        line-height: 1.3rem;
        margin-left: 0.2rem;
    }
    a:is([href*="/edit-"], [href*="/-edit/"], [href*="Rm9yIEl"], [href*="Rm9yIHNl"], [href*="Rm9yIGF1"], [href*="Rm9yIGd"], [href="/lists/edit-lists"], [title="Remove from reading list"]):hover::after,
    div.user-info_login_box_padding__hebxc a[href="#"]:hover::after {
        color: var(--mu-text-color-highlight);
    }
    div:has(> span.releasestitle) {
        display: flex;
        align-items: center;
    }
}
